:root {
	--border-radius: 3px;
	--normal-font: 14pt;
	--small-font: 0.85em;
}

html, body, button {
	font-family: Arial, sans-serif;
}

html {
	background-color: aliceblue;
}

body {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	padding: 4px;
	margin: 0;
}

body > * {
	flex: 100%;
}

body * {
	font-size: var(--normal-font);
}

.left { float: left; }
.right { float: right; }
.disabled { opacity: 0.5; }

button {
	border-width: 1px;
	padding: 3px 9px 3px 9px;
	box-shadow: 2px 2px 2px -1px #AAA;
	border-radius: var(--border-radius);
	font-size: var(--small-font);
}

fieldset {
	margin: 0;
	background-color: floralwhite;
	border-style: outset;
	border-radius: var(--border-radius);
	padding: 4px;
	border-width: 1px;
}
fieldset legend {
	font-weight: bold;
	color: #444;
	margin-bottom: -3px;
}

fieldset table {
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;
}

fieldset table.small, fieldset table.small > thead th, fieldset table.small > tfoot td, .output-message div {
	font-size: var(--small-font);
}

fieldset table > thead th {
	background-color: beige;
	font-size: var(--small-font);
}
fieldset table.interactive > thead th:not(:last-child) {
	background-color: beige;
	font-size: var(--small-font);
}
fieldset table > tfoot {
	background-color: antiquewhite;
}

fieldset table.interactive > tbody > tr > td:last-child {
	text-align: center;
}

fieldset table > tbody > tr > td.parent {
	padding: 1px;
}

fieldset table > tbody > tr > td.parent > table {
}

fieldset table > tbody > tr:nth-child(odd) {
	background-color: #f2f2f277;
}
fieldset table > tbody > tr:nth-child(even) {
	background-color: #C9C9C977;
}
fieldset table > tbody > tr:hover {
	background-color: #71a37c44;
}

fieldset table > tbody > tr > td {
	padding: 3px 2px 1px 2px;
	overflow-wrap: anywhere;
}
fieldset table > thead th {
	padding: 3px 2px 1px 2px;
	overflow-wrap: normal;
}
fieldset table > tfoot td {
	padding: 3px 2px 1px 2px;
	font-size: var(--small-font);
}

fieldset table td button, fieldset table td a {
	margin: 0px 2px 0px 2px;
}
fieldset table td a:not(:first-child) {
	padding-left: 1px;
}
fieldset table td a {
	padding-right: 2px;
	font-size: var(--small-font);
}
fieldset table td button {
	padding: 0 10px 0 10px;
}

a {
	color: brown;
	text-decoration: none;
}
a:hover { color: blueviolet; text-decoration: underline dotted; }

fieldset table.interactive > tbody tr td:last-child {
	width: 0;
	white-space: nowrap;
	padding: 0;
}

fieldset table.interactive > thead th:last-child {
	background-color: floralwhite;
	border-top: 1px solid floralwhite;
	border-right: hidden;
}

.bar-top button.bt-stop {
	margin-left: 18px;
	background-color: #ff000033;
}

.bar-top button {
	font-size: 1em;
	margin-left: 6px;
}

.bar-top > div:last-child {
	border-radius: var(--border-radius);
	border: 1px solid gray;
	background-color: #fffaf080;
	margin-top: 5px;
	padding: 3px 2px 1px 2px;
	width: calc(100% - 6px);
}

button.pressed:not([disabled]), button:active:not([disabled]) {
	border-style: inset;
	background-color: #D7D7D7;
	box-shadow: inset 4px 4px 4px -1px #AAA;
}
button:hover:not([disabled]) { background-color: #E7E7E7; }

.bar-top button.bt-stop.pressed:not([disabled]), .bar-top button.bt-stop:active:not([disabled]) {
	background-color: #ff000044;
	box-shadow: inset 4px 4px 4px -1px #ff000055;
}
.bar-top button.bt-stop:hover:not([disabled]) { background-color: #ff000022; }

div.error {
	color: red;
}
